.wrapper{
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-serif;
}

    s{
/* primary - */ color:#1E1D1D;
/* secondary light - */ color:#8B8E99;
/* light bg - */ color:#F6F6F6;
/* blue - */ color:#3858D6;
 }
